#mother1{
    background-color: #FFD580; 
    height: 500px; 
    width: 500px;
}

#child1{
    background-color: #90ee90; 
    width: 50%; 
    height: 50%;
}

#paragraph{
    color: #FFFF; 
    background-color: red; 
    font-family: monospace; 
    font-weight: 700; 
    font-size: 25px;
}

#mother2{
width: 50%; 
height: 50vh; 
background-color: rgb(173, 216, 230);
}

#child2{
    width: 75vh; 
    height: 50%; 
    background-color: rgb(255, 0, 0);
}